## Todo ##
/todo/dist
/todo/node_modules


## Types ##
/types/dist
/types/node_modules

## Classes ##
/classes/dist
/classes/node_modules


## webapp ##
/webapp/dist
/webapp/node_modules


##reactapp ##
/reactapp/node_modules
